<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <title>Jirafaestudia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

  <header class="navbar  navbar-inverse">
      <div class="container" id="navbar">
        <div class="row">
          <div id="sidebar" class="col-xs-3">
            <ul class="nav navbar-nav">
            <item><%= link_to "Home", root_path %></item>
            <item><%=link_to "Users", controller:'users' %></item>
            <item><%=link_to "Projects", controller:'projects' %></item>
            <item><%=link_to "Stopwatch", data: { turbolinks: 'false' }, controller:'stopwatch' %></item>
            </ul>
        </div>
        <div>
      </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
